fastapi
uvicorn
numpy
scikit-learn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
nltk
pymupdf
python-docx
chardet
pytesseract
Pillow
firebase-admin
requests
reportlab
python-dotenv
pandas
pypdf
langdetect
